<!-- views/partials/footer.ejs -->
<div style="margin:0 2rem;">
  <div class="container">
    <span style="float:left;"><small>&copy; Copyright 2017, uGrow predev</small></span>
    <span style="float:right;"><small><%= footer %></small></span>
  </div>
</div>
