td.trend {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

div.card-error a {
  color: #fff;
}

div.card-error a:hover {
  color: #fff;
}

div.card {
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 18px;
  border-radius: 0;
  box-shadow: 2px 2px 0px #fafafa;
  transition: box-shadow 0.3s ease;
}

a {
  color: #00B083;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #1295B2;
  text-decoration: none;
}

span.prefix-label {
  font-weight: bold;
  width: 130px;
}

h1.page-title {
  margin: 20px 12px;
}

h1.page-title small {
  color: #777;
}

ul.list-group {
  margin-top: 22px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

ul.rating-list {
  margin: 3rem 0;
  padding: 0;
  list-style-type: none;
  float: left;
}

div.left-of-rating-bar {
  width: 13.5rem;
  float: left;
}

div.rating-bar {
  background: #EFF1F2;
  width: 30rem;
  height: 0.8rem;
  float: left;
  margin: 0.75rem 1.2rem;
}

div.rating-bar-fill {
  background: #606C76;
  width: 10rem;
  height: 0.8rem;
}

@media all and (max-width: 710px) {
  /* define mobile specific styles come here */
  div.rating-bar {
    visibility: hidden;
    display: inline;
    width: 0 !important;
    margin: 0 !important;
  }
}

span.star-icons {
  margin-right: 0.2rem;
  letter-spacing: 0.2rem;
}

span.unfilled-star {
  opacity: 0.1;
}

img.rating-review-icon {
  width: 1.1em;
  height: 1.1em;
  margin-top: -0.2rem;
}

div.rating-average {
  float: left;
  margin: 3.4rem 0;
  margin-right: 3rem;
  text-align: center;
}

p.rating-amount {
  margin: 0;
}

h1.rating-average-title {
  font-size: 7.6rem;
  margin-bottom: 0.2rem;
}

img.total-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}

.btn-custom {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 40px;
  background-color: hsl(0, 0%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
  background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
  background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
  background-image: -o-linear-gradient(top, #5b5b5b, #282828);
  background-image: linear-gradient(#5b5b5b, #282828);
  border-color: #282828 #282828 hsl(0, 0%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
